<header class="flex justify-center items-center py-3">
	<span></span>
	<nav class="flex flex-row gap-x-4 sm:gap-x-10 opacity-80">
		<a href="#top">Inicio</a>
		<a href="#experience">Experiencias</a>
		<a href="#about">Sobre mí</a>
		<a href="#contact">Contacto</a>
	</nav>
</header>